{% extends 'base.html' %}
{% block title %}Add Task{% endblock %}
{% block content %}
{% load static %}

{% if user.is_authenticated %}
    <h1>Add Task</h1>
    <br /><br />
    <div class="mb-3">
        <br /><br />
        <form method="POST">
            {% csrf_token %}
            {{ task_form.as_p }}
            <button type="submit" class="btn btn-info">Post</button>
            <br /><br />
        </form>
    </div>
{% else %}
    <p>Please log in to add a task.</p>
{% endif %}
{% endblock %}
